{% load static %}
<!-- body -->
<div class="container-fluid">

    <div class="row m-1">

        <!-- note sheet -->
        <div class="col-6">
            <div id="note-sheet">
                <div class="row border">
                    <div class="col">
                        <a id="note-1-1" href="#" onclick="selectNote('note-1-1')" class="note">-</a>
                        <br>
                        <a id="note-1-2" href="#" onclick="selectNote('note-1-2')" class="note">-</a>
                        <br>
                        <a id="note-1-3" href="#" onclick="selectNote('note-1-3')" class="note">-</a>
                    </div>
                    <div id="note-2" onclick="selectNote('note-2')" class="col">1</div>
                    <div id="note-3" onclick="selectNote('note-3')" class="col">1</div>
                    <div id="note-4" onclick="selectNote('note-4')" class="col border-end">1</div>
                    <div id="note-5" onclick="selectNote('note-5')" class="col">1</div>
                    <div id="note-6" onclick="selectNote('note-6')" class="col">1</div>
                    <div id="note-7" onclick="selectNote('note-7')" class="col">1</div>
                    <div id="note-8" onclick="selectNote('note-8')" class="col border-end">1</div>
                    <div id="note-9" onclick="selectNote('note-9')" class="col">1</div>
                    <div id="note-10" onclick="selectNote('note-10')" class="col">1</div>
                    <div id="note-11" onclick="selectNote('note-11')" class="col">1</div>
                    <div id="note-12" onclick="selectNote('note-12')" class="col border-end">1</div>
                    <div id="note-13" onclick="selectNote('note-13')" class="col">1</div>
                    <div id="note-14" onclick="selectNote('note-14')" class="col">1</div>
                    <div id="note-15" onclick="selectNote('note-15')" class="col">1</div>
                    <div id="note-16" onclick="selectNote('note-16')" class="col">1</div>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <img id="btnAddBar" src="{% static 'Core/images/svg/chat-alt-add-1.svg' %}" alt="add bar"
                     title="Add Bar" height="50px" style="margin-right: -20px">
            </div>
        </div>


        <!-- hang-drum -->
        <div class="col-6">
            <div class="d-flex justify-content-center">
                <div style="width: 600px">
                    <div class="hangdrum-container">
                        <img id="img_hang_drum" src="{% static 'Core/images/hangdrum-instrument-1.jpg' %}"
                             alt="Hangdrum" class="border m-1" style="opacity: 0.5">
                        <div class="section" data-section="D" style="top: 220px; left: 255px;"><span>D</span></div>
                        <div class="section" data-section="1" style="top: 410px; left: 330px;"><span>1</span></div>
                        <div class="section" data-section="2" style="top: 400px; left: 150px;"><span>2</span></div>
                        <div class="section" data-section="3" style="top: 310px; left: 440px;"><span>3</span></div>
                        <div class="section" data-section="4" style="top: 280px; left: 60px; "><span>4</span></div>
                        <div class="section" data-section="5" style="top: 160px; left: 440px;"><span>5</span></div>
                        <div class="section" data-section="6" style="top: 130px; left: 80px;"><span>6</span></div>
                        <div class="section" data-section="7" style="top: 50px; left: 330px;"><span>7</span></div>
                        <div class="section" data-section="8" style="top: 50px; left: 190px;"><span>8</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- SHOULD REMOVE -->
{#    <div class="container">#}
{#        <h1>Hangdrum Player</h1>#}
{#        <div id="musicSheet">#}
{#            <div class="note-input">#}
{#                <input type="text" class="note" placeholder="Note or Chord (e.g., A C E)">#}
{#                <select class="duration">#}
{#                    <option value="4">Semibreve (4)</option>#}
{#                    <option value="2">Minim (2)</option>#}
{#                    <option value="1">Crotchet (1)</option>#}
{#                    <option value="0.5">Quaver (0.5)</option>#}
{#                    <option value="0.25">Semiquaver (0.25)</option>#}
{#                </select>#}
{#            </div>#}
{#        </div>#}
{#        <button id="addNote">Add Note</button>#}
{#        <input type="text" id="noteInput" placeholder="Enter notes (e.g., A,B,C,D)">#}
{#        <input type="text" id="durationInput" placeholder="Enter durations (e.g., 4,2,1,1)" value="1,1,1,1">#}
{#        <input type="number" id="tempoInput" placeholder="Enter tempo (BPM)" value="120">#}
{#        <button >Play Notes</button>#}
{#    </div>#}

<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header d-none">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <div style="width: 600px">
                    <div class="hangdrum-container">
                        <img id="img_hang_drum2" src="{% static 'Core/images/hangdrum-instrument-1.jpg' %}"
                             alt="Hangdrum" class="border m-1" style="opacity: 0.1">
                        <div class="section" data-section="D" style="top: 220px; left: 255px;"><span>D</span></div>
                        <div class="section" data-section="1" style="top: 410px; left: 330px;"><span>2</span></div>
                        <div class="section" data-section="2" style="top: 400px; left: 150px;"><span>3</span></div>
                        <div class="section" data-section="3" style="top: 310px; left: 440px;"><span>4</span></div>
                        <div class="section" data-section="4" style="top: 280px; left: 60px;"><span>5</span></div>
                        <div class="section" data-section="5" style="top: 160px; left: 440px;"><span>6</span></div>
                        <div class="section" data-section="6" style="top: 130px; left: 80px;"><span>7</span></div>
                        <div class="section" data-section="7" style="top: 50px; left: 330px;"><span>8</span></div>
                        <div class="section" data-section="8" style="top: 50px; left: 190px;"><span>9</span></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-none">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<div id="modalSaveSheet" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Sheet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                           placeholder="name@example.com">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" onclick="saveSheet()" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>