{% extends "Core/base.html" %}
{% load static %}

{% block title %}Hangdrum Player{% endblock %}



{% block content %}

<div id="page_app" class="include-page">
    {% include 'Core/app.html' %}
</div>

<div id="page_sheet_list" class="include-page d-none">
    {% include 'Core/sheetList.html' %}
</div>

{% endblock content %}

{% block script %}
    <script>
        let noteList = []
        noteList['1'] = "{% static 'Core/sounds/1.wav' %}"
        noteList['2'] = "{% static 'Core/sounds/2.wav' %}"
        noteList['3'] = "{% static 'Core/sounds/3.wav' %}"
        noteList['4'] = "{% static 'Core/sounds/4.wav' %}"
        noteList['5'] = "{% static 'Core/sounds/5.wav' %}"
        noteList['6'] = "{% static 'Core/sounds/6.wav' %}"
        noteList['7'] = "{% static 'Core/sounds/7.wav' %}"
        noteList['8'] = "{% static 'Core/sounds/8.wav' %}"
        noteList['D'] = "{% static 'Core/sounds/Ding.wav' %}"
        {#console.log(noteList)#}

    </script>

    <script src="{% static 'Core/js/scripts.js' %}"></script>
    <script src="{% static 'Core/js/sheetList.js' %}"></script>
{% endblock script %}

