{% load static %}

{#{% block title %}Sheet List{% endblock %}#}



{% block content %}


    <div class="row align-items-center">
        <!-- tab -->
        <div class="col-md-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#" onclick="ChangeTab('Global')" role="tab"
                       aria-controls="home" aria-selected="true">Global</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#" onclick="ChangeTab('MySheet')" role="tab"
                       aria-controls="profile" aria-selected="false">My Sheet</a>
                </li>
            </ul>
        </div>
        <!-- search box -->
        <div class="col-md-3">
            <div class="input-group mb-3">
                <input  id="inputSheetSearch" type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
            <span class="input-group-text"><img src="{% static 'Core/images/svg/search.svg' %}" height="20px"></span>
            </div>
        </div>
    </div>


    <div id="div-sheet-list">
    </div>


{% endblock content %}


{% block script %}
    <script>
        const music_src = "{% static 'Core/images/svg/music-2.svg' %}";
        const user_src = "{% static 'Core/images/svg/user-1.svg' %}";
        const date_src = "{% static 'Core/images/svg/date-today.svg' %}";
        const video_src = "{% static 'Core/images/svg/video-file.svg' %}";
        const ticket_src = "{% static 'Core/images/svg/ticket-alt.svg' %}";
        const eye_src = "{% static 'Core/images/svg/eye.svg' %}";
    </script>
    <script src="{% static 'Core/js/sheetList.js' %}"></script>
{% endblock script %}