
.note{
    text-decoration: none;
    color: darkgrey;
    margin: 0px;
}


.note-div:hover {
    background-color: lightblue;
}

.loop-selected {
    background-color: #0a53be20;
    color: white;
}
.loop-start-indicator {
    border-left-style: solid;
    border-left-width: 2px;
    border-top-style: solid;
    border-top-width: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: #0a53bea0;
    border-top-color: #0a53bea0;
    border-bottom-color: #0a53bea0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.loop-end-indicator {
    border-right-style: solid !important;
    border-right-width: 2px !important;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: #0a53bea0 !important;
    border-bottom-color: #0a53bea0;
    border-top-color: #0a53bea0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}


.note-green{
    text-decoration: none;
    color: limegreen;
}

.note-selected{
    border: 1px solid darkorange;
    border-radius: 50%;
    font-weight: bold;
    /*padding: 2px;*/
}

.current-bar-border{
    border:1px solid rgba(255, 140, 0, .6) !important
}

.current-bit-body{
    /*border:1px solid darkorange !important*/
    background-color: rgba(255, 140, 0, .3); //darkorange;
    color: white;
}

.handpan-nav-active {
  fill: orangered;
}

/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*    background-color: #f0f0f0;*/
/*}*/

/*.container {*/
/*    text-align: center;*/
/*    background: white;*/
/*    padding: 20px;*/
/*    border-radius: 10px;*/
/*    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*}*/

/*input, button {*/
/*    margin: 10px 0;*/
/*    padding: 10px;*/
/*    font-size: 16px;*/
/*}*/

/*button {*/
/*    cursor: pointer;*/
/*    background-color: #007BFF;*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*}*/

/*button:hover {*/
/*    background-color: #0056b3;*/
/*}*/

/*#musicSheet {*/
/*    margin: 20px 0;*/
/*    display: grid;*/
/*    grid-template-columns: repeat(16, 1fr);*/
/*    gap: 10px;*/
/*}*/

/*.note-input {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/*.note {*/
/*    width: 60px;*/
/*    padding: 5px;*/
/*    text-align: center;*/
/*}*/
