{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'Core/css/hangdrum.css' %}">
{% endblock %}


{% block content %}
    <svg class="hang-drum" viewBox="0 0 200 200" preserveAspectRatio="xMidYMid meet">
        <circle cx="100" cy="100" r="90" class="drum-body"/>

        <text x="73" y="102" class="drum-text">T</text>
        <text x="127" y="102" class="drum-text">K</text>
        <circle cx="100" cy="100" r="40" class="drum-dome" id="side" data-section="T"/>

        <text x="148" y="52" class="drum-text">7</text>
        <circle cx="150" cy="50" r="15" class="drum-note" id="note7"  data-section="7"/>
        <text x="148" y="155" class="drum-text">3</text>
        <circle cx="150" cy="150" r="15" class="drum-note" id="note3"  data-section="3"/>
        <text x="170" y="102" class="drum-text">5</text>
        <circle cx="170" cy="100" r="15" class="drum-note" id="note5"  data-section="5"/>
        <text x="99" y="172" class="drum-text">1</text>
        <circle cx="100" cy="170" r="15" class="drum-note" id="note1"  data-section="1"/>
        <text x="48" y="152" class="drum-text">2</text>
        <circle cx="50" cy="150" r="15" class="drum-note" id="note2"  data-section="2"/>
        <text x="28" y="102" class="drum-text">4</text>
        <circle cx="30" cy="100" r="15" class="drum-note" id="note4"  data-section="4"/>
        <text x="49" y="52" class="drum-text">6</text>
        <circle cx="50" cy="50" r="15" class="drum-note" id="note6"  data-section="6"/>
        <text x="99" y="31" class="drum-text">8</text>
        <circle cx="100" cy="30" r="15" class="drum-note" id="note8"  data-section="8"/>
        <text x="99" y="102" class="drum-text">D</text>
        <circle cx="100" cy="100" r="15" class="drum-note" id="ding" data-section="D" />

        <!-- Additional knock areas -->
        <circle cx="120" cy="145" r="5" class="drum-knock" id="slapLeft" data-section="SL"/>
        <circle cx="80" cy="145" r="5" class="drum-knock" id="slapRight" data-section="SR"/>

        <ellipse cx="163" cy="130" rx="14" ry="6" class="drum-knock" transform="rotate(115, 168, 133)" id="knockLeft" data-section="KL"/>
        <ellipse cx="20" cy="135" rx="14" ry="6" class="drum-knock" transform="rotate(70, 27, 138)" id="knockRight" data-section="KR"/>

    </svg>
{% endblock content %}


{% block script %}
    <script src="{% static 'Core/js/3party/gsap.min.js' %}"></script>
    <script src="{% static 'Core/js/hangdrum.js' %}"></script>
{% endblock script %}
