{% load static %}

<ul class="nav-links mt-1 d-flex">
    <a href="#" class="justify-content-center"><img src="{% static 'Core/images/logo-no-background.png' %}"
                                                    alt="rabin" width="70px" class=""></a>
    <li><a id="nav_menu_app"  href="#" onclick="selectFromMenu('app')">App</a></li>
    <!-- class="center,upward,forward"> -->
    <li class="center"><a id="nav_menu_sheet_list" onclick="selectFromMenu('sheet_list')" class="pan-nav-item" href="#">Sheets</a></li>

    <div class="w-100 row">
        <div class="col-10 d-flex justify-content-center">

            <a href="#" onclick="changeRepeatMode()" class="mt-2" style="width: 50px">
                <img id="img-repeate" src="{% static 'Core/images/svg/repeat-one.svg' %}" height="30px" title="Repeat mode">
            </a>
            <a title="Loop mode" href="#" onclick="changeLoopMode()" class="mt-2"  style="width: 50px">
                <svg  width="30px" height="30px" viewBox="0 0 24 24" id="bracket-square" data-name="Flat Color" xmlns="http://www.w3.org/2000/svg" class="icon flat-color"><rect id="primary" x="2" y="2" width="20" height="20" rx="2" style="fill: rgba(0, 0, 0, .2);"></rect><path id="loopIconSecondary" d="M16,18H14a1,1,0,0,1,0-2h2V8H14a1,1,0,0,1,0-2h2a2,2,0,0,1,2,2v8A2,2,0,0,1,16,18Zm-5-1a1,1,0,0,0-1-1H8V8h2a1,1,0,0,0,0-2H8A2,2,0,0,0,6,8v8a2,2,0,0,0,2,2h2A1,1,0,0,0,11,17Z" style="fill: var(--svgcolor);"></path></svg>
            </a>

            <p class="mt-2  d-flex justify-content-center" style="color: #00000044; width: 50px">|</p>

            <a href="#" id="btnPlay" title="play notes" style="width: 50px"><img id="img-play" src="{% static 'Core/images/svg/play.svg' %}" alt="" height="43px"></a>
            <a href="#" id="btnPause" class="d-none mt-2" title="pause notes" style="width: 50px"><img id="img-play" src="{% static 'Core/images/svg/stop.svg' %}" alt="" height="27px"></a>
        </div>
        <div class="col-2 d-flex justify-content-end">
            <a id="frame-edit" href="#" onclick="changeSheetViewMode()" class="mt-2"  style="width: 50px"><img src="{% static 'Core/images/svg/edit.svg' %}" height="30px" title="save"></a>
            <a id="frame-save" href="#" onclick="riseSaveSheetModal()" class="mt-2"  style="width: 50px"><img src="{% static 'Core/images/svg/save.svg' %}" height="30px" title="save"></a>
            <a href="#" class="mt-2" onclick="logout()" style="width: 50px"><img src="{% static 'Core/images/svg/logout.svg' %}" height="30px" title="logout"></a>
        </div>
    </div>

</ul>