{% load static %}
<ul class="nav-links mt-1 d-flex">
    <a href="#" class="justify-content-center"><img src="{% static 'Core/images/logo-no-background.png' %}"
                                                    alt="rabin" width="70px" class=""></a>
    <li><a href="#">Dashboard</a></li>
    <!-- class="center,upward,forward"> -->
    {#        <li class="center"><a id="nav-menu-wallet" class="rabin-nav-item" href="/">Wallet</a></li>#}
    {#        <li class="center"><a id="nav-menu-wallet-block" class="rabin-nav-item" href="{% url 'wallet-block' %}">Wallet Block</a></li>#}
    {#        <li class="center"><a id="nav-menu-order" class="rabin-nav-item" href="{% url 'order' %}">Order</a></li>#}
    {#        <li class="center"><a id="nav-menu-portfolio" class="rabin-nav-item " href="{% url 'portfoio' %}">Portfolio</a></li>#}
    {#        <li class="center"><a id="nav-menu-autofund" class="rabin-nav-item " href="{% url 'auto-fund' %}">AutoFund</a></li>#}
    {#        <li class="center"><a id="nav-menu-services" class="rabin-nav-item " href="{% url 'services' %}">Services</a></li>#}

    <div class="w-100 row">
        <div class="col-11 d-flex justify-content-center">
            <a href="#" id="btnPlay" title="play notes"><img
                    src="{% static 'Core/images/svg/play.svg' %}" alt="" height="43px"></a>
        </div>
        <div class="col-1 d-flex justify-content-end">
            <a href="#" onclick="logout()"><img src="{% static 'Core/images/svg/logout.svg' %}" height="30px"
                                                title="logout"></a>
        </div>
    </div>

</ul>